<div class="labs-container">
    <!-- <div class="lab-header">Landing Page...</div> -->

    <!-- Disclaimer-->
    <div class="lab-item">
        <div class="lab-title">
            <strong>Disclaimer</strong><i class="fas fa-angle-down"></i>
        </div>
        <div class="lab-body">
            <ol type="1">
                <li>CheatSwigger is in no way associated with PortSwigger or any of its affiliates.</li>
                <li>Most of the content and images displayed on this site are directly from the portswigger.net website.
                </li>
                <li>I created this site as a supplemental study guide to assist with completing the PortSwigger labs.
                </li>
                <li>All lab related content and solutions can be found at portswigger.net > Academy > All Labs.</li>
                <li>I hope this website assists you like it did for me in completing the labs and getting Burp
                    certified.</li>
            </ol>
        </div>
    </div>

    <div class="sidebar">Landing Page Sidebar</div>
</div>