<!-- SQL page -->
<div class="labs-container">
  <div class="lab-header">SQL Labs</div>

  <!-- SQL Lab 1 -->
  <div class="lab-item">
    <div class="lab-title">
      <strong>Lab 1: SQL injection UNION attack, determining the number of columns returned by the query.</strong><i
        class="fas fa-angle-down"></i>
    </div>
    <div class="lab-body">
      <ol type="1">
        <li>Use Burp Suite to intercept and modify the request that sets the product category filter.</li>
        <li>Modify the category parameter, giving it the value <b>'+UNION+SELECT+NULL--</b>. Observe
          that an error occurs.</li>
        <li>Modify the category parameter to add an additional column containing a null value:
          <b>'+UNION+SELECT+NULL,NULL--</b>
        </li>
        <li>Continue adding null values until the error disappears and the response includes
          additional content containing the null values.</li>
      </ol>
    </div>
  </div>

  <!-- SQL Lab 2 -->
  <div class="lab-item">
    <div class="lab-title">
      <strong>Lab 2: SQL injection UNION attack, finding a column containing text.</strong><i
        class="fas fa-angle-down"></i>
    </div>
    <div class="lab-body">
      <ol type="1">
        <li>Use Burp Suite to intercept and modify the request that sets the product category filter.</li>
        <li>Determine the number of columns that are being returned by the query. Verify that the
          query is returning three columns, using the following payload in the category parameter:
          <b>'+UNION+SELECT+NULL,NULL,NULL--</b>
        </li>
        <li>Try replacing each null with the random value provided by the lab, for example:
          <b>'+UNION+SELECT+'abcdef',NULL,NULL--</b>
        </li>
        <li>If an error occurs, move on to the next null and try that instead.</li>
      </ol>
    </div>
  </div>

  <!-- SQL Lab 3 -->
  <div class="lab-item">
    <div class="lab-title">
      <strong>Lab 3: SQL injection UNION attack, retrieving data from other tables.</strong><i
        class="fas fa-angle-down"></i>
    </div>
    <div class="lab-body">
      <ol type="1">
        <li>Use Burp Suite to intercept and modify the request that sets the product category filter.</li>
        <li>Determine the number of columns that are being returned by the query and which
          columns contain text data. Verify that the query is returning two columns, both of which
          contain text, using a payload like the following in the category parameter:
          <b>'+UNION+SELECT+'abc','def'--</b>
        </li>
        <li>Use the following payload to retrieve the contents of the users table:
          <b>'+UNION+SELECT+username,+password+FROM+users--</b>
        </li>
        <li>Verify that the application's response contains usernames and passwords.</li>
      </ol>
    </div>
  </div>

  <!-- SQL Lab 4 -->
  <div class="lab-item">
    <div class="lab-title">
      <strong>Lab 4: SQL injection UNION attack, retrieving multiple values in a single column.</strong><i
        class="fas fa-angle-down"></i>
    </div>
    <div class="lab-body">
      <ol type="1">
        <li>Use Burp Suite to intercept and modify the request that sets the product category filter.</li>
        <li>Determine the number of columns that are being returned by the query and which
          columns contain text data. Verify that the query is returning two columns, only one of
          which contain text, using a payload like the following in the category parameter:
          <b>'+UNION+SELECT+NULL,'abc'--</b>
        </li>
        <li>Use the following payload to retrieve the contents of the users table:
          <b>'+UNION+SELECT+NULL,username||'~'||password+FROM+users--</b>
        </li>
        <li>Verify that the application's response contains usernames and passwords.</li>
      </ol>
    </div>
  </div>

  <!-- SQL Lab 5 -->
  <div class="lab-item">
    <div class="lab-title">
      <strong>Lab 5: SQL injection attack, querying the database type and version on Oracle.</strong><i
        class="fas fa-angle-down"></i>
    </div>
    <div class="lab-body">
      <ol type="1">
        <li>Use Burp Suite to intercept and modify the request that sets the product category filter.</li>
        <li>Determine the number of columns that are being returned by the query and which
          columns contain text data. Verify that the query is returning two columns, both of which
          contain text, using a payload like the following in the category parameter:
          <b>'+UNION+SELECT+'abc','def'+FROM+dual--</b>
        </li>
        <li>Use the following payload to display the database version:
          <b>'+UNION+SELECT+BANNER,+NULL+FROM+v$version--</b>
        </li>
        <li>Verify that the application's response contains the version.</li>
      </ol>
    </div>
  </div>

  <!-- SQL Lab 6 -->
  <div class="lab-item">
    <div class="lab-title">
      <strong>Lab 6: SQL injection attack, querying the database type and version on MySQL and Microsoft.</strong>
      <i class="fas fa-angle-down"></i>
    </div>
    <div class="lab-body">
      <ol type="1">
        <li>Use Burp Suite to intercept and modify the request that sets the product category filter.</li>
        <li>Determine the number of columns that are being returned by the query and which columns contain text data.
          Verify that the query is returning two columns, both of which contain text, using a payload like the following
          in the category parameter:
          <b>'+UNION+SELECT+'abc','def'#</b>
        </li>
        <li>Modify the category parameter to add an additional column containing a null value:
          <b>'+UNION+SELECT+NULL,NULL--</b>
        </li>
      </ol>
    </div>
  </div>

  <!-- SQL Lab 7 -->
  <div class="lab-item">
    <div class="lab-title">
      <strong>Lab 7: SQL injection attack, listing the database contents on non-Oracle databases.</strong>
      <i class="fas fa-angle-down"></i>
    </div>
    <div class="lab-body">
      <ol type="1">
        <li>Use Burp Suite to intercept and modify the request that sets the product category filter.</li>
        <li>Determine the number of columns that are being returned by the query and which columns contain text data.
          Verify that the query is returning two columns, both of which contain text, using a payload like the following
          in the category parameter:
          <b>'+UNION+SELECT+'abc','def'--</b>.
        </li>
        <li>Use the following payload to retrieve the list of tables in the database:
          <b>'+UNION+SELECT+table_name,+NULL+FROM+information_schema.tables--</b></li>
        <li>
          Find the name of the table containing user credentials.
        </li>
        <li>
          Use the following payload (replacing the table name) to retrieve the details of the columns in the table:
          <b>'+UNION+SELECT+column_name,+NULL+FROM+information_schema.columns+WHERE+table_name='users_abcdef'--</b>
        </li>
        <li>
          Find the names of the columns containing usernames and passwords.
        </li>
        <li>
          Use the following payload (replacing the table and column names) to retrieve the usernames and passwords for
          all users:
          <b>'+UNION+SELECT+username_abcdef,+password_abcdef+FROM+users_abcdef--</b>
        </li>
        <li>
          Find the password for the administrator user, and use it to log in.
        </li>
      </ol>
    </div>
  </div>

  <!-- SQL Lab 9 -->
  <div class="lab-item">
    <div class="lab-title">
      <strong>Lab 9: Lab: Blind SQL injection with conditional responses</strong>
      <i class="fas fa-angle-down"></i>
    </div>
    <div class="lab-body">
      <ol type="1">
        <li>Visit the front page of the shop, and use Burp Suite to intercept and modify the request containing the
          TrackingId cookie. For simplicity, let's say the original value of the cookie is TrackingId=xyz.
        </li>
        <li>Modify the TrackingId cookie, changing it to: TrackingId=xyz' AND '1'='1. Verify that the "Welcome back"
          message appears in the response.
        </li>
        <li>Now change it to: TrackingId=xyz' AND '1'='2. Verify that the "Welcome back" message does not appear in the
          response. This demonstrates how you can test a single boolean condition and infer the result.
        </li>
        <li>
          Now change it to: TrackingId=xyz' AND (SELECT 'a' FROM users LIMIT 1)='a. Verify that the condition is true,
          confirming that there is a table called users.
        </li>
        <li>
          Now change it to: TrackingId=xyz' AND (SELECT 'a' FROM users WHERE username='administrator')='a. Verify that
          the condition is true, confirming that there is a user called administrator.
        </li>
        <li>
          The next step is to determine how many characters are in the password of the administrator user. To do this,
          change the value to: TrackingId=xyz' AND (SELECT 'a' FROM users WHERE username='administrator' AND
          LENGTH(password)>1)='a. This condition should be true, confirming that the password is greater than 1
          character in length.
        </li>
        <li>
          Send a series of follow-up values to test different password lengths. Send: TrackingId=xyz' AND (SELECT 'a'
          FROM users WHERE username='administrator' AND LENGTH(password)>2)='a. Then send: TrackingId=xyz' AND (SELECT
          'a' FROM users WHERE username='administrator' AND LENGTH(password)>3)='a. And so on. You can do this manually
          using Burp Repeater, since the length is likely to be short. When the condition stops being true (i.e. when
          the "Welcome back" message disappears), you have determined the length of the password, which is in fact 20
          characters long.
        </li>
        <li>
          After determining the length of the password, the next step is to test the character at each position to
          determine its value. This involves a much larger number of requests, so you need to use Burp Intruder. Send
          the request you are working on to Burp Intruder, using the context menu.
        </li>
        <li>
          In the Positions tab of Burp Intruder, clear the default payload positions by clicking the "Clear §" button.
        </li>
        <li>
          In the Positions tab, change the value of the cookie to: TrackingId=xyz' AND (SELECT SUBSTRING(password,1,1)
          FROM users WHERE username='administrator')='a. This uses the SUBSTRING() function to extract a single
          character from the password, and test it against a specific value. Our attack will cycle through each position
          and possible value, testing each one in turn.
        </li>
        <li>
          Place payload position markers around the final a character in the cookie value. To do this, select just the
          a, and click the "Add §" button. You should then see the following as the cookie value (note the payload
          position markers): TrackingId=xyz' AND (SELECT SUBSTRING(password,1,1) FROM users WHERE
          username='administrator')='§a§
        </li>
        <li>
          To test the character at each position, you'll need to send suitable payloads in the payload position that
          you've defined. You can assume that the password contains only lowercase alphanumeric characters. Go to the
          Payloads tab, check that "Simple list" is selected, and under "Payload Options" add the payloads in the range
          a - z and 0 - 9. You can select these easily using the "Add from list" drop-down.
        </li>
        <li>
          To be able to tell when the correct character was submitted, you'll need to grep each response for the
          expression "Welcome back". To do this, go to the Options tab, and the "Grep - Match" section. Clear any
          existing entries in the list, and then add the value "Welcome back".
        </li>
        <li>
          Launch the attack by clicking the "Start attack" button or selecting "Start attack" from the Intruder menu.
        </li>
        <li>
          Review the attack results to find the value of the character at the first position. You should see a column in
          the results called "Welcome back". One of the rows should have a tick in this column. The payload showing for
          that row is the value of the character at the first position.
        </li>
        <li>
          Now, you simply need to re-run the attack for each of the other character positions in the password, to
          determine their value. To do this, go back to the main Burp window, and the Positions tab of Burp Intruder,
          and change the specified offset from 1 to 2. You should then see the following as the cookie value:
          TrackingId=xyz' AND (SELECT SUBSTRING(password,2,1) FROM users WHERE username='administrator')='a
        </li>
        <li>
          Launch the modified attack, review the results, and note the character at the second offset.
        </li>
        <li>
          Continue this process testing offset 3, 4, and so on, until you have the whole password.
        </li>
        <li>
          In your browser, click "My account" to open the login page. Use the password to log in as the administrator
          user.
        </li>

      </ol>
    </div>
  </div>

  <div class="sidebar">
    <div class="sidebar-item">
      <div class="sidebar-title">
        <h2>What is SQL Injection (SQLi)?</h2>
      </div>
      <p>SQL injection is a web security vulnerability that allows an attacker to interfere with the queries that an
        application makes to its database. It generally allows an attacker to view data that they are not normally able
        to retrieve. This might include data belonging to other users, or any other data that the application itself is
        able to access. In many cases, an attacker can modify or delete this data, causing persistent changes to the
        application's content or behavior</p>
    </div>
    <div class="sidebar-item">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/wX6tszfgYp4" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>

    <div class="sidebar-item">
      <div class="sidebar-title">
        <h2>How to detect SQL injection vulnerabilities</h2>
      </div>
      <p>The majority of SQL injection vulnerabilities can be found quickly and reliably using Burp Suite's web
        vulnerability scanner.</p>
      <p>SQL injection can be detected manually by using a systematic set of tests against every entry point in the
        application. This typically involves:</p>
      <br />

      <li>Submitting the single quote character ' and looking for errors or other anomalies.</li>
      <li>Submitting some SQL-specific syntax that evaluates to the base (original) value of the entry point, and to a
        different value, and looking for systematic differences in the resulting application responses.</li>
      <li>Submitting Boolean conditions such as OR 1=1 and OR 1=2, and looking for differences in the application's
        responses.</li>
      <li>Submitting payloads designed to trigger time delays when executed within an SQL query, and looking for
        differences in the time taken to respond.</li>
      <li>Submitting OAST payloads designed to trigger an out-of-band network interaction when executed within an SQL
        query, and monitoring for any resulting interactions.</li>

    </div>

  </div>

</div>