<!-- SQL page -->
<div class="labs-container">
  <div class="lab-header">SQL Labs</div>

  <!-- SQL Lab 1 -->
  <div class="lab-item">
    <div class="lab-title">
      <strong>Lab 1: SQL injection UNION attack, determining the number of columns returned by the query.</strong><i
        class="fas fa-angle-down"></i>
    </div>
    <div class="lab-body">
      <ol type="1">
        <li>Use Burp Suite to intercept and modify the request that sets the product category filter.</li>
        <li>Modify the category parameter, giving it the value <b>'+UNION+SELECT+NULL--</b>. Observe
          that an error occurs.</li>
        <li>Modify the category parameter to add an additional column containing a null value:
          <b>'+UNION+SELECT+NULL,NULL--</b>
        </li>
        <li>Continue adding null values until the error disappears and the response includes
          additional content containing the null values.</li>
      </ol>
    </div>
  </div>

  <!-- SQL Lab 2 -->
  <div class="lab-item">
    <div class="lab-title">
      <strong>Lab 2: SQL injection UNION attack, finding a column containing text.</strong><i
        class="fas fa-angle-down"></i>
    </div>
    <div class="lab-body">
      <ol type="1">
        <li>Use Burp Suite to intercept and modify the request that sets the product category filter.</li>
        <li>Determine the number of columns that are being returned by the query. Verify that the
          query is returning three columns, using the following payload in the category parameter:
          <b>'+UNION+SELECT+NULL,NULL,NULL--</b>
        </li>
        <li>Try replacing each null with the random value provided by the lab, for example:
          <b>'+UNION+SELECT+'abcdef',NULL,NULL--</b>
        </li>
        <li>If an error occurs, move on to the next null and try that instead.</li>
      </ol>
    </div>
  </div>

  <!-- SQL Lab 3 -->
  <div class="lab-item">
    <div class="lab-title">
      <strong>Lab 3: SQL injection UNION attack, retrieving data from other tables.</strong><i
        class="fas fa-angle-down"></i>
    </div>
    <div class="lab-body">
      <ol type="1">
        <li>Use Burp Suite to intercept and modify the request that sets the product category filter.</li>
        <li>Determine the number of columns that are being returned by the query and which
          columns contain text data. Verify that the query is returning two columns, both of which
          contain text, using a payload like the following in the category parameter:
          <b>'+UNION+SELECT+'abc','def'--</b>
        </li>
        <li>Use the following payload to retrieve the contents of the users table:
          <b>'+UNION+SELECT+username,+password+FROM+users--</b>
        </li>
        <li>Verify that the application's response contains usernames and passwords.</li>
      </ol>
    </div>
  </div>

  <!-- SQL Lab 4 -->
  <div class="lab-item">
    <div class="lab-title">
      <strong>Lab 4: SQL injection UNION attack, retrieving multiple values in a single column.</strong><i
        class="fas fa-angle-down"></i>
    </div>
    <div class="lab-body">
      <ol type="1">
        <li>Use Burp Suite to intercept and modify the request that sets the product category filter.</li>
        <li>Determine the number of columns that are being returned by the query and which
          columns contain text data. Verify that the query is returning two columns, only one of
          which contain text, using a payload like the following in the category parameter:
          <b>'+UNION+SELECT+NULL,'abc'--</b>
        </li>
        <li>Use the following payload to retrieve the contents of the users table:
          <b>'+UNION+SELECT+NULL,username||'~'||password+FROM+users--</b>
        </li>
        <li>Verify that the application's response contains usernames and passwords.</li>
      </ol>
    </div>
  </div>

  <!-- SQL Lab 5 -->
  <div class="lab-item">
    <div class="lab-title">
      <strong>Lab 5: SQL injection attack, querying the database type and version on Oracle.</strong><i
        class="fas fa-angle-down"></i>
    </div>
    <div class="lab-body">
      <ol type="1">
        <li>Use Burp Suite to intercept and modify the request that sets the product category filter.</li>
        <li>Determine the number of columns that are being returned by the query and which
          columns contain text data. Verify that the query is returning two columns, both of which
          contain text, using a payload like the following in the category parameter:
          <b>'+UNION+SELECT+'abc','def'+FROM+dual--</b>
        </li>
        <li>Use the following payload to display the database version:
          <b>'+UNION+SELECT+BANNER,+NULL+FROM+v$version--</b>
        </li>
        <li>Verify that the application's response contains the version.</li>
      </ol>
    </div>
  </div>

  <div class="sidebar">
    <div class="sidebar-item">
      <div class="sidebar-title">
        <h2>What is SQL Injection (SQLi)?</h2>
      </div>
      <p>SQL injection is a web security vulnerability that allows an attacker to interfere with the queries that an
        application makes to its database. It generally allows an attacker to view data that they are not normally able
        to retrieve. This might include data belonging to other users, or any other data that the application itself is
        able to access. In many cases, an attacker can modify or delete this data, causing persistent changes to the
        application's content or behavior</p>
    </div>
    <div class="sidebar-item">
      <iframe width="100%" height="315" src="https://www.youtube.com/embed/wX6tszfgYp4" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>

    <div class="sidebar-item">
      <div class="sidebar-title">
        <h2>How to detect SQL injection vulnerabilities</h2>
      </div>
      <p>The majority of SQL injection vulnerabilities can be found quickly and reliably using Burp Suite's web
        vulnerability scanner.</p>
      <p>SQL injection can be detected manually by using a systematic set of tests against every entry point in the
        application. This typically involves:</p>
      <br />

      <li>Submitting the single quote character ' and looking for errors or other anomalies.</li>
      <li>Submitting some SQL-specific syntax that evaluates to the base (original) value of the entry point, and to a
        different value, and looking for systematic differences in the resulting application responses.</li>
      <li>Submitting Boolean conditions such as OR 1=1 and OR 1=2, and looking for differences in the application's
        responses.</li>
      <li>Submitting payloads designed to trigger time delays when executed within an SQL query, and looking for
        differences in the time taken to respond.</li>
      <li>Submitting OAST payloads designed to trigger an out-of-band network interaction when executed within an SQL
        query, and monitoring for any resulting interactions.</li>

    </div>

  </div>

</div>