<!-- SQL page -->
<div class="labs-container">
  <div class="lab-header">SQL Labs</div>

  <!-- SQL Lab 1 -->
  <div class="lab-item">
    <div class="lab-title">
      <strong>Lab 1: SQL injection UNION attack, determining the number of columns returned by the query.</strong><i
        class="fas fa-angle-down"></i>
    </div>
    <div class="lab-body">
      <ol type="1">
        <li>Use Burp Suite to intercept and modify the request that sets the product category filter.</li>
        <li>Modify the category parameter, giving it the value '+UNION+SELECT+NULL--. Observe
          that an error occurs.</li>
        <li>Modify the category parameter to add an additional column containing a null value:
          '+UNION+SELECT+NULL,NULL--</li>
        <li>Continue adding null values until the error disappears and the response includes
          additional content containing the null values.</li>
      </ol>
    </div>
  </div>

  <!-- SQL Lab 2 -->
  <div class="lab-item">
    <div class="lab-title">
      <strong>Lab 2: SQL injection UNION attack, finding a column containing text.</strong><i
        class="fas fa-angle-down"></i>
    </div>
    <div class="lab-body">
      <ol type="1">
        <li>Use Burp Suite to intercept and modify the request that sets the product category filter.</li>
        <li>Determine the number of columns that are being returned by the query. Verify that the
          query is returning three columns, using the following payload in the category parameter:
          '+UNION+SELECT+NULL,NULL,NULL--</li>
        <li>Try replacing each null with the random value provided by the lab, for example:
          '+UNION+SELECT+'abcdef',NULL,NULL--</li>
        <li>If an error occurs, move on to the next null and try that instead.</li>
      </ol>
    </div>
  </div>

  <!-- SQL Lab 3 -->
  <div class="lab-item">
    <div class="lab-title">
      <strong>Lab 3: SQL injection UNION attack, retrieving data from other tables.</strong><i
        class="fas fa-angle-down"></i>
    </div>
    <div class="lab-body">
      <ol type="1">
        <li>Use Burp Suite to intercept and modify the request that sets the product category filter.</li>
        <li>Determine the number of columns that are being returned by the query and which
          columns contain text data. Verify that the query is returning two columns, both of which
          contain text, using a payload like the following in the category parameter:
          '+UNION+SELECT+'abc','def'--</li>
        <li>Use the following payload to retrieve the contents of the users table:
          '+UNION+SELECT+username,+password+FROM+users--</li>
        <li>Verify that the application's response contains usernames and passwords.</li>
      </ol>
    </div>
  </div>

  <!-- SQL Lab 4 -->
  <div class="lab-item">
    <div class="lab-title">
      <strong>Lab 4: SQL injection UNION attack, retrieving multiple values in a single column.</strong><i
        class="fas fa-angle-down"></i>
    </div>
    <div class="lab-body">
      <ol type="1">
        <li>Use Burp Suite to intercept and modify the request that sets the product category filter.</li>
        <li>Determine the number of columns that are being returned by the query and which
          columns contain text data. Verify that the query is returning two columns, only one of
          which contain text, using a payload like the following in the category parameter:
          '+UNION+SELECT+NULL,'abc'--</li>
        <li>Use the following payload to retrieve the contents of the users table:
          '+UNION+SELECT+NULL,username||'~'||password+FROM+users--</li>
        <li>Verify that the application's response contains usernames and passwords.</li>
      </ol>
    </div>
  </div>

  <!-- SQL Lab 5 -->
  <div class="lab-item">
    <div class="lab-title">
      <strong>Lab 5: SQL injection attack, querying the database type and version on Oracle.</strong><i
        class="fas fa-angle-down"></i>
    </div>
    <div class="lab-body">
      <ol type="1">
        <li>Use Burp Suite to intercept and modify the request that sets the product category filter.</li>
        <li>Determine the number of columns that are being returned by the query and which
          columns contain text data. Verify that the query is returning two columns, both of which
          contain text, using a payload like the following in the category parameter:
          '+UNION+SELECT+'abc','def'+FROM+dual--</li>
        <li>Use the following payload to display the database version:
          '+UNION+SELECT+BANNER,+NULL+FROM+v$version--</li>
        <li>Verify that the application's response contains the version.</li>
      </ol>
    </div>
  </div>

</div>