<!-- XSS page -->
<div class="labs-container">
    <div class="lab-title">Cross-Site Scripting</div>

    <!-- XSS Lab 1 -->
    <div class="lab-item">
        <div class="lab-header">
            <strong>Lab 1: Reflected XSS into HTML context with nothing encoded.</strong><i
                class="fas fa-angle-down"></i>
        </div>
        <div class="lab-body">
            <ol type="1">
                <li>Copy and paste the following into the search box: <b>&lt;script&gt;alert(1)&lt;/script&gt;</b>
                </li>
                <li>Click "Search".</li>
            </ol>
        </div>
    </div>

    <!-- XSS Lab 2 -->
    <div class="lab-item">
        <div class="lab-header">
            <strong>Lab 2: Stored XSS into HTML context with nothing encoded.</strong><i class="fas fa-angle-down"></i>
        </div>
        <div class="lab-body">
            <ol type="1">
                <li>Enter the following into the comment box: <b>&lt;script&gt;alert(1)&lt;/script&gt;</b></li>
                <li>Enter a name, email and website.</li>
                <li>Click "Post comment".</li>
                <li>Go back to the blog.</li>
            </ol>
        </div>
    </div>

    <!-- XSS Lab 3 -->
    <div class="lab-item">
        <div class="lab-header">
            <strong>Lab 3: DOM XSS in document.write sink using source location.search.</strong><i
                class="fas fa-angle-down"></i>
        </div>
        <div class="lab-body">
            <ol type="1">
                <li>Enter a random alphanumeric string into the search box.</li>
                <li>Right-click and inspect the element, and observe that your random string has been
                    placed inside an img src attribute.</li>
                <li>Break out of the img attribute by searching for: <b>">&lt;svg onload=alert(1)></b></li>
            </ol>
        </div>
    </div>

    <!-- XSS Lab 4 -->
    <div class="lab-item">
        <div class="lab-header">
            <strong>Lab 4: DOM XSS in document.write sink using source location.search inside a select
                element.</strong><i class="fas fa-angle-down"></i>
        </div>
        <div class="lab-body">
            <ol type="1">
                <li>On the product pages, notice that the dangerous JavaScript extracts a storeId parameter
                    from the location.search source. It then uses document.write to create a new option in
                    the select element for the stock checker functionality.</li>
                <li>Add a storeId query parameter to the URL and enter a random alphanumeric string as its
                    value. Request this modified URL.</li>
                <li>In your browser, notice that your random string is now listed as one of the options in the
                    drop-down list.</li>
                <li>Right-click and inspect the drop-down list to confirm that the value of your storeId
                    parameter has been placed inside a select element.</li>
                <li>
                    Change the URL to include a suitable XSS payload inside the storeId parameter as
                    follows:
                    <p>
                        <b>product?productId=1&storeId=">&lt;/select>&lt;img%20src=1%20onerror=alert(1)></b>
                    </p>
                </li>
            </ol>
        </div>
    </div>

    <!-- XSS Lab 5 -->
    <div class="lab-item">
        <div class="lab-header">
            <strong>Lab 5: DOM XSS in innerHTML sink using source location.search.</strong><i
                class="fas fa-angle-down"></i>
        </div>
        <div class="lab-body">
            <ol type="1">
                <li>Enter the following into the into the search box: <b>&lt;img src=1 onerror=alert(1)></b></li>
                <li>Click "Search".</li>
                <p>The value of the src attribute is invalid and throws an error. This triggers the onerror event
                    handler, which then calls the alert() function. As a result, the payload is executed whenever the
                    user's browser attempts to load the page containing your malicious post.</p>
            </ol>
        </div>
    </div>

    <!-- XSS Lab 6 -->
    <div class="lab-item">
        <div class="lab-header">
            <strong>Lab 6: DOM XSS in jQuery anchor href attribute sink using location.search source.</strong><i
                class="fas fa-angle-down"></i>
        </div>
        <div class="lab-body">
            <ol type="1">
                <li>On the Submit feedback page, change the query parameter returnPath to / followed by a
                    random alphanumeric string.</li>
                <li>Right-click and inspect the element, and observe that your random string has been
                    placed inside an a href attribute.</li>
                <li>Change returnPath to <b>javascript:alert(document.cookie)</b>, then hit enter and click "back".</li>
            </ol>
        </div>
    </div>

    <!-- XSS Lab 7 -->
    <div class="lab-item">
        <div class="lab-header">
            <strong>Lab 7: DOM XSS in AngularJS expression with angle brackets and double quotes
                HTML-encoded.</strong><i class="fas fa-angle-down"></i>
        </div>
        <div class="lab-body">
            <ol type="1">
                <li>Enter a random alphanumeric string into the search box..</li>
                <li>View the page source and observe that your random string is enclosed in an ng-app
                    directive.</li>
                <li>Enter the following AngularJS expression in the search box:</li>
                <p>
                    <b>{{$on.constructor('alert(1)')()}}</b>
                </p>
                <li>Click search</li>
            </ol>
        </div>
    </div>

</div>